<div class="jumbotron hero">
    <div class="container pb-5 pt-5 pr-5 pl-5 pad-c-0">
      <div class="arrows">
        <img src="/assets/img/Arrows.png">
      </div>
      <h1 class="hero-title pl-4 pb-3">Providing peace of mind with <br /> UKAS accredited private testing. </h1>
      <p class="intro-text pl-4">
        Agilis Health some nice tag line here, screening programme <br />administered by healthcare professionals.
      </p>
    </div>
    <div class="dots"><img src="/assets/img/Dots.png"></div>
    <div class="custom-nav">
      <button class="nav-btn-slider" id="previous"> <i class="fas fa-chevron-left"></i> </button>
      <button class="nav-btn-slider" id="next"> <i class="fas fa-chevron-right"></i> </button>
    </div>
    <div class="slide" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
      <div class="slide-card">
        <img class="card-img" src="/assets/img/plane.png">
        <h2>COVID-19 <br /> Testing </h2>
        <a href="#" class="slide-button">MORE INFO </a>
      </div>
      <div class="slide-card"> 
        <img class="card-img" src="/assets/img/swab.png">
        <h2>Drug & Alcohol <br />Screening </h2>
        <a href="#" class="slide-button">MORE INFO</a>
      </div>
      <div class="slide-card">
        <img class="card-img" src="/assets/img/swab-2.png">
        <h2>Occupational <br /> Health </h2>
        <a href="#" class="slide-button">MORE INFO </a>
      </div>
      <div class="slide-card">
        <img class="card-img" src="/assets/img/swab.png">
        <h2>General Health & <br /> Wellbeing</h2>
        <a href="#" class="slide-button">MORE INFO</a>
      </div>
      <div class="slide-card">
        <img class="card-img" src="/assets/img/swab-2.png">
        <h2>Corporate Managed <br /> Health</h2>
        <a href="#" class="slide-button">MORE INFO </a>
      </div>
    </div>
  </div>
  