// Color Variables
$white: #fff !default;
$bg-main: #fff;
$bg-hero: #F8F9F9;

$primary: #233638;
$arrows: #E5BE42;

$navColor: #233638;
$linkHover: #24A497;

//  Content width
$gridwidth: 1440px;

//  Nav Font Size
$navFont: 14px;

//font family
$font-family: 'Tenor Sans', sans-serif;

//Nav Font
$nav-font: "Museo", "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji" !default;

$animation-duration: 200ms;

//  Media queries 


$smallDesktop: 1560px;
$laptopSize:  1240px;
$verysmallDesktop: 1160px;
$tablet: 980px;
$mobile: 680px;